{% extends "mailing/base.html" %}
{% block content %}
    <p>
        {% if is_new %}
            You're about to add <b>{{ email }}</b> for the first time.
            Use the form below to confirm.
        {% else %}
            You are about editing settings for <b>{{ email }}</b>.
        {% endif %}
    </p>
    <hr />
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="sub-field">
                {{ field }}
                <div>
                    <b class="sub-label">{{ field.label }}</b>
                    {% if field.help_text %}<div class="muted">{{ field.help_text }}</div>{% endif %}
                </div>
            </div>
        {% endfor %}
        <button type="submit">
            {% if is_new %}
                Confirm
            {% else %}
                Update
            {% endif %}
        </button>
    </form>
    {% if not is_new %}
        <br />
        <p class="muted">(To unsubscribe, uncheck all boxes.)</p>
    {% endif %}
{% endblock content %}
