{% extends "mailing/base.html" %}
{% block content %}
    <p>
        The status for <b>{{ email }}</b> is now:
    </p>
    {% for field in form %}
        <div class="sub-field">
            <div class="emoji">
                {% if field.value %}
                    ✅
                {% else %}
                    ✖️
                {% endif %}
            </div>
            <div>
                <b class="sub-label">{{ field.label }}</b>
                {% if field.help_text %}<div class="muted">{{ field.help_text }}</div>{% endif %}
            </div>
        </div>
    {% endfor %}
    <p>
        <a href="{{ edit_url }}">Edit again</a>
    </p>
{% endblock content %}
